/* 
Author: OLUWADEMILADE WILLIAMS
Date: December 3, 2025
Filename: team.css
 */

/* CSS Reset */
body,
header,
nav,
main,
footer,
h1,
div,
img,
ul,
h1,
h2,
ul,
footer {
  margin: 0;
  padding: 0;
  border: 0;
}
/* Style rule for images */
img {
  max-width: 100%;
  display: block;
}
body {
  background-color: #fff;
  font-family: "Montserrat", sans-serif;
}
/* Style rules for mobile viewport */

/* Style rule for header */
header {
  top: 0;

  height: 190px;
}

header img {
  margin: 0 auto;
}
/* Style rules fo hamburger menu */
.mobile-nav a {
  color: #3a2f00;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  font-size: 2em;
  text-decoration: none;
  padding: 3%;
  display: block;
}
.mobile-nav a.menu-icon {
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

/* Show mobile class, hide tablet-desktop class and menulinks id */
.mobile {
  display: block;
}

.tablet-desktop,
#menu-links {
  display: none;
}

main {
  clear: both;
  padding: 2em;
  background-color: #fff;
}
main h1,
h2 {
  font-family: "Montserrat", sans-serif;
  color: #3a2f00;

  margin-bottom: 0.5em;
}

.frame {
  position: relative;
  max-width: 450px;
  margin: 2% auto;
  opacity: 0.9;
}

.pic-text {
  position: absolute;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  width: 100%;
  padding: 1rem 0;
  text-align: center;
  font-family: Verdana, Arial, sans-serif;
  font-size: 1.5em;
  font-weight: bold;
}

.frame:hover {
  opacity: 1;
  box-shadow: 0 4px 8px #ccc;
}
article {
  display: grid;
  max-width: 100%;
  margin: 0 auto;
}
article section {
  border: #000 1px solid;
  padding: 1em;
  margin-bottom: 2em;
  border-radius: 1em;
  cursor: pointer;
}
article section:hover {
  box-shadow: 0 4px 8px #ccc;
  transform: translateY(10px);
}

article h3 {
  font-size: 1.4em;
  margin-bottom: 0.5em;
}
article p {
  font-size: 1.1em;
  line-height: 1.6em;
  margin-bottom: 1.5em;
}
.article-heading {
  text-align: center;
  margin: 2em 0;
}
footer {
  background-color: #ffcc4d;
  color: #3a2f00;
  text-align: center;
  padding: 1rem 0;
  position: relative;
  bottom: 0;
  width: 100%;
}
footer p {
  font-family: "Montserrat", sans-serif;
  font-size: 1em;
}
footer a {
  color: #3a2f00;
  text-decoration: none;
}
footer a:hover {
  text-decoration: underline;
}
@media screen and (min-width: 630px), print {
  /* Tablet viewport: show tablet-desktop class, hide mobile class */
  .tablet-desktop {
    display: block;
  }

  .mobile-nav {
    display: none;
  }

  /* Tablet viewport: Style rules for header */
  header {
    padding-bottom: 1%;
  }
  header img {
    width: 50%;
    height: auto;
  }
  /* Tablet viewport: Style rules for nav area */
  nav {
    padding: 1%;
    margin-bottom: 1;
  }

  nav ul {
    list-style-type: none;

    text-align: center;
  }

  nav li {
    font-size: 1.2em;
    font-family: "Montserrat", sans-serif;
    display: inline-block;
    border-right: 1px solid #ccc;
  }
  nav li:last-child {
    border-right: none;
  }
  nav li a {
    padding: 0.1em 0.75em;
    display: block;
    color: #3a2f00;

    text-decoration: none;
  }
}

/* Media Query for Desktop Viewport */
@media screen and (min-width: 1015px), print {
  /* Desktop viewport: Style rules for header */
  header {
    width: 25%;
    float: left;
    padding-bottom: 0;
  }
  header img {
    width: 100%;
    height: auto;
  }
  /* Desktop viewport: Style rules for nav area */
  nav {
    float: right;
    width: 70%;
    margin: 4em 1em 0 0;
  }
  nav ul {
    text-align: right;
  }
  nav li {
    border: none;
    font-size: 1em;
  }
  nav li a {
    padding: 0.5em 1em;
  }
  nav li a:hover {
    color: #fff;
    background-color: #000;
    transform: scale(1.3);
  }
  /* Desktop viewport: Style rules for main content area */
  main {
    clear: left;
  }
  main h1 {
    font-size: 1.8em;
  }
  article {
    max-width: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 20px;
  }
  .grid {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 20px;
  }
}
/* Media Query for Large Desktop Viewports */
@media screen and (min-width: 1921px) {
  header {
    width: 20%;
    padding-bottom: 2em;
  }
  #container {
    width: 1920px;
    margin: 0 auto;
  }
  table {
    width: 80%;
  }
}
/*  Media Query for Print */
@media print {
  body {
    background-color: #fff;
    color: #000;
  }
  header {
    background-color: #fff;
  }
}
